@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css");

.layout-center button {
    border-radius: 6px !important;
}

.layout-center {
    text-align: center;
    background-image: url(../images/img_deco_trailer.png);
    z-index: -99;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 0px);
}

.login-request {
    padding-top: 200px;
    text-align: center;
}

.google-icon {
    width: 32px;
    height: 32px;
}

/* --------- CSS by Content --------- */

body {
    font-size: 0.75rem;
}

.error-page,
.page-spinner {
    text-align: center;
    margin-top: calc(50vh)
}

.area-spinner {
    text-align: center;
}