/* --------- Main Layout --------- */
/* Avoid space for fixed navbar */
[role="main"] {
    padding-top: 35px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}

/* Avoid space for fixed navbar */
@media (min-width: 768px) {
    [role="main"] {
        padding-top: 35px !important;
    }
}

/* --------- Sidebar --------- */

.sidebar {
    position: fixed;
    height: calc(100vh - 35px);
    padding-top: 1rem;
    padding-left: 0.5rem;
    width: calc(15%);
    min-width: fit-content;
    z-index: 100;
    font-size: 0.875rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link:hover,
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    padding-right: 2px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    text-transform: uppercase;
}

/* --------- Scrollbar --------- */

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

/* --------- Background --------- */


/* --------- Content --------- */
.bold {
    font-weight: 700;
}

.margin * {
    margin-left: 2px;
    margin-right: 2px;
}

.content i {
    margin-right: 4px;
}

.wallet-icon,
.member-list th,
.member-list td,
.contribution-report td,
.rate-list input,
.rate-list span {
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
}

.rate-list button {
    margin-left: 2px;
    margin-right: 2px;
    width: 60px;
}

.rate-list .list-group-item {
    border-width: 0px;
}

.rate-list form *,
.land-list form * {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0px;
}

.content .rate-list .form-control,
.content .land-list .form-control {
    display: inline-flex;
    width: min-content;
}

.table {
    margin-top: 20px;
}

.table th {
    text-transform: capitalize;
}

.error-text {
    padding: 20px;
    font-size: 16px;
    font-weight: 350;
    color: red;
}

.col-center {
    text-align: center;
}

.edit-member {
    padding: 0px;
    margin: 2px;
    width: 22px;
    height: 22px;
}

.edit-member i {
    position: absolute;
    transform: translate(-50%, -50%);
    padding-top: 2px;
}

.kingdom button {
    margin: 2px;
}

.kingdom button img {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    vertical-align: middle;
}