.background-img {
    /* The image used */
    background-image: url(../images/bg.png);

    /* Add the blur effect */
    filter: blur(9px);
    -webkit-filter: blur(9px);

    /* Full height */
    position: fixed;
    height: calc(100vh);
    width: calc(100%);
    z-index: 1;

    overflow-y: hidden;
    overflow-x: hidden;

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

/* Position text in the middle of the page/image */
.overlay-text {
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.45);

    /* Black opacity/see-through */
    color: white;
    border: 1px solid #f1f1f1;
    border-radius: 4px;

    position: absolute;
    top: 30px;
    bottom: 30px;
    left: calc(2%);
    z-index: 2;
    width: calc(96%);
    height: fit-content;
    box-sizing: border-box;

    padding: 20px;
    overflow-x: hidden;
}

.intro-message {
    text-align: center;
    top: 30px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: calc(35%);
    min-height: calc(20vh);
    height: fit-content;
    box-sizing: border-box;
    z-index: 3;
}

.intro-message p {
    font-weight: 300;
    margin: 50px;
}

.contribution-history,
.kingdom-list,
.profile-details {
    margin-top: 20px;
}

.kingdom-list .list-group-item,
.profile-details .list-group-item {
    vertical-align: middle;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: transparent;
}

.profile-content h4,
.profile-content h2 {
    margin-left: 6px;
    margin-right: 6px;
}

.profile-content .row h6 {
    margin-top: 70px;
}

.profile-content .welcome-text {
    padding-top: 30px;
}

.profile-content .mem-level {
    color: yellow;
    vertical-align: middle;
    text-align: end;
}

.kingdom-list .light-pulp {
    vertical-align: bottom;
    padding-bottom: 3px;
    padding-left: 4px;
}

.kingdom-list .info {
    vertical-align: bottom;
    padding-left: 6px;
    color: yellow
}

.kingdom-list .label {
    color: white;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
}

/* Profile details */

.profile-details .label {
    color: white;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
}

.profile-details .wallet-type {
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}

.profile-details .list-group-item * {
    display: block;
}

.profile-details .info {
    text-align: end;
    color: yellow
}

/* Contribution history table */

.contribution-data th,
.contribution-data td {
    margin-right: 4px;
    margin-left: 4px;
    text-align: right;
    vertical-align: middle;
}

.contribution-data th {
    color: white;
}

.contribution-data td {
    color: yellow;
}

.contribution-data .settled-icon {
    margin-right: 10px;
}

/* Summary total */
.profile-content .total-sum {
    padding-top: 50px;
    padding-left: calc(30%);
    padding-right: calc(30%);
}

.profile-content .total-sum .info {
    color: yellow
}

.profile-content .total-sum .label {
    color: white;
    margin-right: 4px;
    margin-left: 4px;
    vertical-align: middle;
}

/* Signup */
.sign-up form>div {
    position: relative;
    left: 28%;
}

.sign-up .form-label {
    padding-top: 20px;
}

.sign-up .input-group-text {
    width: 80px;
}

.sign-up select,
.sign-up input {
    min-width: fit-content;
    max-width: max-content;
}

.sign-up button {
    margin-right: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.sign-up .kingdom-input {
    max-width: 120px !important;
}

.sign-up .remove-kingdom {
    vertical-align: middle;
    margin-top: 0px;
    height: fit-content;
}